<% provide(:title, @user.name) %>
<div class="row">

  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">

    <% if @user.horses.any? %>
      <h3>Horses (<%= @user.horses.count %>)</h3>
      <ol class="horses">
        <%= render @horses %>
      </ol>
      <%= will_paginate @horses %>
    <% end %>

  </div>

</div>