<%= form_for(@horse) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.label :stable_name %>
    <%= f.text_field :stable_name %>

    <%= f.label :racing_name %>
    <%= f.text_field :racing_name %>

    <%= f.label :sex %>
    <%= f.text_field :sex %>

    <%= f.label :colour %>
    <%= f.text_field :colour %>

    <%= f.label :foal_date %>
    <%= f.text_field :foal_date %>

  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>